@{
    ViewData["Title"] = "About";
}
<html>

<body>

    
  


    <center>
        <h2>
            <u> ABOUT ELIJAH </u>
        </h2>
    </center>

    <h1 style="color:black;"> Name: Dave, Elijah R. </h1>
     
    
    <img class = "img" src="~/images/pic res.jpg" style="width:150px;height:150px; position:absolute; top:100px; right:70px"/>
    
   


    <h1 style="color:black;">
        Address: 8 Masbate Street Bago Bantay Quezon City</h1>
        <h1 style="color:black;">
            Email: Dave.elijah.06042003@gmail.com </h1>
            <h1 style="color:black;">
                Contact:09215795265</h1>
              
<h2>
                <u> CAREER OBJECTIVE</U></h2>

<h3 style="border:silver; border-width:5px; border-style:solid;"> 

To perform all the learned skills and technique in improving good production,

<br> acquire more working attitude, utilize my obtained knowledge, experiences and ethnics, 

<br> perform my leadership skills and contribute to improve quality works and standards as an IT in your company.
</h3>



<h2>
<u> KEY SKILLS </U>
</h2>

<h3 style="border:silver; border-width:5px; border-style:solid;"> 

<b><u> COMMUNICATION AND LANGUAGE SKILLS</u> </b>
<P style="font-family:calibri;"> fluent in speaking english and filipino. Able to communicate effectively in a professional business manner. 

<br><br> <b> <u> TECHNICAL SKILLS </u> </b>
<P style="font-family:calibri;"> Skilled in basic computer softwares like MS Word and PPT.

<br><br> <b> <u> ABILITY TO MEET DEADLINE AND WORK UNDER PRESSURE </u> </b>
<P style="font-family:calibri;">Participating in different club while studying involved a lot of time management skills, multi tasking skills and the ability to work under pressure.

<br><br> <b> <u> ENTHUSIASTIC, HARDWORKING AND EAGER TO LEARN </u> </b>
<P style="font-family:calibri;"> Reliable and trustworthy with a strong and consistent workk ethic and values.

<br><br> <b> <u> CREATIVE THINKER </u> </b>
<P style="font-family:calibri;"> Can think of new ideas and ways to improve gadgets, products and service. </p> </h3>

<h2>
<u> ACHIEVMENT </U></h2>
 
 <h3 style="border:silver; border-width:5px; border-style:solid;">  
 
 
 <h3> With Honor - Our Lady of Fatima University</h3> <br>
 <h3> 3rd Place Table tennis competition- San Francisco Highschool </h3>

 </h3>
 
 <h2>
<u> <b> PERSONAL INFORMATION </b> </u> </h2>

<h3 style="border:silver; border-width:5xp; border-style:solid;"> 
<P style="font-family:calibri;"> <b> Birthday:</b> June 04,2003
<br>Birthplace: Manila
<br> Sex: Male
<br> Civil Status: Single
<br> Citizenship: Filipino
<br> Height:5'8
<br> Weight:89

</h3>
</body>
</html>